/*CSS Login*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); /*Letra Inter*/

:root {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-weight: 150;
  }
  
  body {
    padding: 0;
    margin: 0;
  }

/* Cuadro azul */
.overlay-box-qr {
    background-color: rgba(36, 56, 132, 0.8); /* Azul semitransparente */
    color: white;
    padding: 12vw;
    border-radius: 10px;
    text-align: center;
    width: 75%;
    max-width: 500px;
    position: relative;
  }

  /* Título */
.overlay-box-qr h1 {
    font-size: clamp(1rem, 3.5vw, 3rem);
    font-weight: 150;
    margin-top: -100px;
    text-align: center;
  }

  /* Subtítulo */
.overlay-box-qr p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 300;
    margin-bottom: 3px;
    text-align: center;
  }

/* Botón */
.button-qr button{
  position: absolute;
  bottom: 10%;
  right: 43%;
  padding: 1.0vw 2.0vw;  
  min-width: 120px;
  max-width: 210px;  
  border: none;
  border-radius: 10px;
  background-color: white;
  color: #243884;
  font-size: clamp(1.2rem, 2vw, 1.0rem); 
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

/* Transition botón */
.button-qr button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

  /* Cuadro input */
  input[type="text"],
  [type="password"] {
    display: block;
    font-size: clamp(1rem, 0vw, 1rem);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: white;
    width: 100%;
    margin: 10px 0 5px 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
  }
  
  label {
    font-size: clamp(1rem, 1.5vw, 1.5rem); 
    margin-bottom: 5px; 
    display: block;
    text-align: left;
    margin-top: 10%;
  }

  .select-row {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    gap: 2px; /* Espacio entre el label y el select */
    margin-bottom: 15px;
  }

  .select-action {
    padding: 10px;
    font-size: clamp(1rem, 0vw, 1rem);
    border-radius: 8px;
    background-color: #A0C400;
    color: #243884;
    width: 90%;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .select-action:focus {
    outline: none;
    border-color: #243884;
  }

  .datetime-display {
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: left;
    gap: 200px;
  }

  .icon {
    margin-right: 8px;
    vertical-align: middle;
    color: #243884; /* opcional */
  }